{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}Home | O-Goals{% endblock %}

{% block content %}
	<a href="/goals/new">
		<div id="make_new" class="goal_section">
			<div class="goal no_progressbar">
			<div class="goal_flag make_new"></div>
			<span><i>New Goal...</i></span>
			</div>
		</div>
	</a>

	{% with count=inbox_goals|count %}
	{% if count > 0 %}
		<div id="inbox" class="goal_section">
			<h2>Inbox</h2>
			<h3>({{ count }})</h3>
			{% for x in inbox_goals %}
				{% include "goal_base.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

	{% with count=overdue_goals|count %}
	{% if count > 0 %}
		<div id="overdue" class="goal_section">
			<h2>Overdue</h2>
			<h3>({{ count }})</h3>
			{% for x in overdue_goals %}
				{% include "goal_base.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

	{% with count=today_goals|count %}
	{% if count > 0 %}
		<div id="today" class="goal_section">
			<h2>Today</h2>
			<h3>({{ count }})</h3>
			{% for x in today_goals %}
				{% include "goal_base.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

	{% with count=all_goals|count %}
	{% if count > 0 %}
		<div id="all_goals" class="goal_section">
			<h2>All Goals</h2>
			<h3>({{ count }})</h3>
			{% for x in all_goals %}
				{% include "goal_base.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}

	{% with count=complete_goals|count %}
	{% if count > 0 %}
		<div id="complete" class="goal_section">
			<h2>Complete</h2>
			<h3>({{ count }})</h3>
			{% for x in complete_goals %}
				{% include "goal_base.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% endwith %}
{% endblock %}

{% block scripts %} <script src="{% static "js/goals.js" %}"></script> {% endblock %}
