{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}New | O-Goals{% endblock %}

{% block content %}
	<form action="/goals/new/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<div id="goal_none" class="goal">
		<div class="goal_flag none"></div>
		<div class="goal_minview">
			<div class="progressbar"><div class="none" style="width: 100%;"></div></div>
			<span>x</span>
			<div class="minview_right">
				<div class="none right_bar"></div>
			</div>
			<div class="progressbar"><div class="none" style="width:100%;"></div></div>
		</div>
		<div class="goal_detailview">
			<div class="subgoal_wrapper">
				<div class="subgoal subgoal_status_makenew">
				<div class="goal_flag subgoal_status_makenew"></div>
					<span><input type="text" class="subgoal_text" onClick="this.select();" value="Type New Subgoal..."></span>
				</div>
			</div>
			<div class="goal_data">
				<table border="0">
					<tr><td><b>Goal Type:</b></td><td>x</td></tr>
					<tr><td><b>Status:</b></td><td>x</td></tr>
					<tr><td><b>Assign To:</b></td><td>x</td></tr>
					<tr><td class="pad_top_10"><b>Date Created:</b></td><td class="pad_top_10"> x</td></tr>
					<tr><td><b>Last Update:</b></td><td>x</td></tr>
					<tr><td><b>Due Date:</b></td><td>x</td></tr>
				</table>
				<p class="marg_top_10"><b>Notes:</b><br />x</p>
				<div class="marg_top_10">
					<input type="submit" class="button" value="Create">
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}