/* need css reset */

html {
	background-color: #aaa;
	font-family: arial, serif;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #f8f8f8;
	border: 3px solid #777;
	padding: 5px;
}

h1 {
	margin: 10px 0 20px 15px;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
}

a {
	text-decoration: none;
}

header a {
	color: grey;
}

header span {
	font-size: 12px;
	margin-left: 6px;
}

h2 {
	display: inline-block;
	margin-top:15px;
	margin-bottom: 5px;
}

h3 {
	display: inline-block;
	font-size: 12px;
	margin: 0;
	margin-left: 5px;
}

p {
	margin: 0;
	font-size: 12px;
	color: #333;
}


table {
	font-size: 12px;
	color: #333;
	border-spacing: 0px;
}

#make_new {
	color: #ccc;
}

#inbox {
	color: #4cc;
}

#overdue {
	color: #cc0000;
}

#today {
	color: orange;
}

#all_goals {
	color: #333;
}

.goal_section {
	margin: 10px 20px;
}

.goal {
	background-color: #f8f8f8;
	/* border: 1px solid #ddd; */
	/*height: 32px;*/
	/* border-radius: 2px; */
	margin-bottom: 5px;
}

.goal_minview {
	cursor: pointer;
	border-right: 1px solid #ddd;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.goal_detailview {
	background-color: #fefefe;
	border-left: 30px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.goal_flag {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	float: left;
}

.make_new {
	background-color: #ccc;
}

.inbox {
	background-color: #4cc;
}

.overdue {
	background-color: #cc0000;
}

.due_today {
	background-color: orange;
}

.none {
	background-color: #333;
}

.goal span {
	line-height: 29px;
	padding: 0 10px;
	font-weight: bold;
	font-size: 14px;
}

.progressbar {
	background-color: #ddd;
}

.progressbar > div {
	width: 40%;
	height: 1px;
}

.no_progressbar {
	border: 1px solid #ddd;
}

.subgoal_wrapper {
	padding: 5px;
}

.subgoal {
	margin-top: 2px;
}

.subgoal span {
	line-height: 20px;
	height: 20px;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
}

.subgoal .goal_flag {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	float: left;
}

.subgoal_status_None {
	border: 1px solid #333;
	color: #333;
}

.goal_flag.subgoal_status_None {
	background-color: #333;
	border:none;
}

.subgoal_status_Complete {
	border: 1px solid green;
	color: green;
}

.goal_flag.subgoal_status_Complete {
	background-color: green;
	border:none;
}

.subgoal_status_makenew {
	border: 1px solid #ccc;
	color: #ccc;
}

.goal_flag.subgoal_status_makenew {
	background-color: #ccc;
	border:none;
}

.goal_data {
	margin: 10px;
}

.marg_top_10 {
	margin-top: 10px;
}

.pad_top_10 {
	padding-top: 10px;
}

.button {
	font-size: 12px;
	display: inline-block;
	border: 1px solid #ccc;
	text-align: center;
	padding: 3px 10px;
	color: #555;
	cursor: pointer;

	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.button:hover {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e1e1e1 49%, #f1f1f1 50%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(49%,#e1e1e1), color-stop(50%,#f1f1f1), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
	background: -o-linear-gradient(top, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%,#e1e1e1 49%,#f1f1f1 50%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
}

.subgoal_text {
	border: 0;
	width: 703px;
	height: 100%;
	font-weight: bold;
	color: #ccc;
	outline: none;
}

.minview_right {
	float: right;
	position: relative;
}